.container_about {
	padding: 20px;
	width: 100%;
	margin: 20px;
	font-family: Arial;
}

.image {
	margin: 20px;
}

@media only screen and (max-width: 600px) {
	.image {
		text-align: center;
		margin: 20px;
		width: 100%;
	}
}
