.margin_right {
	margin-right: 10px;
}

.container_nav_quran {
	display: flex;
	margin: 50px;
	justify-content: center;
}

.container_list_quran {
	border: 1px solid #cdcdcd;
	padding: 10px;
	width: 100%;
	height: 500px;
	overflow: scroll;
}

.container_quran {
	margin-top: 50px;
	padding: 50px;
}

.loadApi {
	display: flex;
	justify-content: center;
	margin: 30px;
	font-size: 45px;
}

.header_quran {
	text-align: center;
}

.option_quran {
	float: right;
}

.show_ayat {
	border: 1px solid #d0d0d0;
	font-size: 20px;
	text-align: right;
	line-height: 50px;
	margin-top: 50px;
	padding: 50px;
	height: 500px;
	overflow: scroll;
}

/*device handphone*/
@media only screen and (max-width: 600px) {
	.loadApi {
		font-size: 35px;
	}

	.container_quran {
		margin-top: 50px;
		padding: 10px;
	}
	.show_ayat {
		border: 1px solid #d0d0d0;
		font-size: 15px;
		line-height: 50px;
		margin-top: 50px;
		padding: 10px;
		height: 500px;
		overflow: scroll;
	}
}
